# Ignore everything
*

# Do not ignore these directories
!ansible/
!tests/

ansible/control-web/ansible-venv/

# Do not ignore shell script files (.sh)
!*.sh

# Ensure .gitignore itself is not ignored
!.gitignore

*.log
